resource_group_name       = "avd-ad-rg"
location                  = "WestEurope"
admin_username            = "YOUR AD ADMIN USER ID"
admin_password            = "YOUR AD ADMIN PASSWORD"
active_directory_domain   = "avd.local"
active_directory_netbios_name = "avdad"
prefix                    = "avdadtest"
tags = {
  project = "AD Setup on Azure"
}

